
p {
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 0px 50px;
    // max-width: 750px;    
}

.gallery{
    margin: auto;
    max-width: 750px;    
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
  }

  .gallery_item {
    width: 100%;
    height: 100%;
  }

  .gallery img {
    width: 100% !important;
    height: 100% !important;
}
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 1;
  }

  .vertical-2{
      grid-row: span 2
  }
  .vertical-3 {
    grid-row: span 3
}
.vertical-4 {
    grid-row: span 4;
}
.vertical-5 {
    grid-row: span 5;
}
.vertical-6 {
   grid-row: span 6;
}
.vertical-7 {
    grid-row: span 7;
}
.vertical-8 {
    grid-row: span 8;
}
.vertical-9 {
    grid-row: span 9;
}
.vertical-10 {
    grid-row: span 10;
}

  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .form-wrapper{
    width: 95%;
    margin: 0 auto;
  
  }

  ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    list-style: none;

    li{
        margin: 10px
    }
}
  .form-section-wrapper {
      margin: 50px;
      p{
          font-size: 20px;
          line-height: 22px;
          letter-spacing: 100;
          
      }
      .note {
          font-weight: 600
      }
      .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        div:nth-child(1) {
            padding-bottom: 30px
        }
        .ui.checkbox .box:after, .ui.checkbox label:after {
            font-size: 25px;
            top: 8px;
            width: 30px;
            height: 30px;
        }
        .ui.checkbox .box:before, .ui.checkbox label:before {
            width: 30px;
            height: 30px;
        }
        .ui.checkbox input[type=checkbox], .ui.checkbox input[type=radio] {
            width: 30px;
            height: 30px;
        }
        .ui.checkbox .box, .ui.checkbox label {
            padding-left: 2.2em;
            font-size: 20px;
            padding: 7px 40px;
        }
        .ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
            content: '';
            top: 8px;
        }
        .radio-form-wrapper { 

        }
    }
  };
